.sp_text {
    display: flex;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: #F5F5F6;
}

textarea {
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: #F5F5F6;
    resize: vertical;
}

button {
    height: 32px;
    width: 32px;
    margin-left: 4px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #1675d1;
    text-decoration: none;
}

button.less {
    color: white;
    background-color: #3a3a3a;
}

.add_btn {
    height: 32px;
    width: 32px;
    display: block;
    margin: auto;
    border-radius: 50%;
}



/* Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}